[submodule "zsh/zgen"]
	path = zsh/zgen
	url = git@github.com:tarjoilija/zgen.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "sandboxd"]
	path = sandboxd
	url = git@github.com:benvan/sandboxd.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
