[user]
	name = Benedikt Reiser
	email = benedikt.reiser@gmail.com
[core]
  	editor = "code --wait --new-window"
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = "code --new-window --wait --diff $LOCAL $REMOTE"
[push]
	default = simple
	autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	pager = diff-so-fancy | less -FXRi
[diff "ansible-vault"]
	textconv = ansible-vault view
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true
[pull]
	rebase = true
[fetch]
	prune = true
