[user]
	name = Benedikt Reiser
	email = benedikt.reiser@gmail.com
[core]
	excludesfile = /Users/benediktreiser/.gitignore_global
	editor = subl -n -w
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[credential]
[credential]
	helper = osxkeychain
[git "lfs"]
	concurrenttransfers = 10
[lfs "transfer"]
	maxretries = 3
[commit]
	template = /Users/benediktreiser/.stCommitMsg
